<!DOCTYPE html>
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>おすすめスポット診断</title>
  </head>

<body>
  <div class="perfume">
    <div class="start">
      <%= link_to "診断を始める", new_perfume_path, class: "link" %>
    </div>
  </div>
</body>