<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">

<div class="spot">
    <div class="stitle">
        <h1>
        地元の人たちが選ぶ！
        <br>福岡市周辺のおすすめ観光スポット</br>
        </h1>
    </div>

    <div class="sindex">
        <div class="info1">
            <div class= "info2">    
                <h3>１位　太宰府天満宮</h3>
                <h4>昌泰4年(901)、京都から大宰府に左遷され、この地で亡くなった菅原道真公を祀る神社。道真公が学問に秀でていたことから学問の神様として崇敬を集め、今も大勢の受験生が参拝する。心字池の太鼓橋、境内の大樟(天然記念物)などがみどころ。道真公を慕い、京から飛んで来たという御本殿(重要文化財)向かって右側の御神木・飛梅をはじめ、約6000本の梅が咲き誇る梅の名所でもある。</h4>
            </div>
            <div class="simage1">
            </div>
        </div>

        <div class="info3-1">
            <div class="info4">
            スポット情報
            </div>
            
            <div class="info5">
                <div class="info6">
                    <br>住所</br>
                    <br>アクセス</br>
                    <br>電車料金</br>
                    <br>営業時間</br>
                </div>
                <div class="info7">
                    <br>：福岡県太宰府市宰府４丁目７－１</br>
                    <br>：博多駅から太宰府駅まで電車で４０分→太宰府駅から徒歩5分</br>
                    <br>：片道５８０円</br>
                    <br>：6:00～19:30（閉門、時期により異なる）</br>
                </div>
            </div>
        </div>
    </div>

    <div class="sindex">
        <div class="info1">
            <div class= "info2">    
                <h3>２位　桜井二見ヶ浦</h3>
                <h4>糸島市を代表する景勝地の一つ桜井二見ヶ浦は、「夕日の二見ヶ浦」として有名です。古くから櫻井神社（県指定文化財）の社地として神聖な場所とされています。夏至のころ、2つの岩の間に沈む夕日はとくに美しく、「日本の渚・夕陽百選」に選ばれている。二見ヶ浦周辺には多数のレストランやカフェなどがあり、四季を問わず大勢の人が訪れる人気の観光スポットとなっています。</h4>
            </div>
            <div class="simage2">
            </div>
        </div>

        <div class="info3-1">
            <div class="info4">
            スポット情報
            </div>
            
            <div class="info5">
                <div class="info6">
                    <br>住所</br>
                    <br>アクセス</br>
                    <br>電車料金</br>
                    <br>駐車場</br>
                </div>
                <div class="info7">
                    <br>：福岡県糸島市志摩桜井４４３３－１～３</br>
                    <br>：博多駅から筑前前原駅まで電車で４０分→筑前前原駅からタクシーで30分</br>
                    <br>：片道５８０円</br>
                    <br>：あり</br>
                </div>
            </div>
        </div>
    </div>

    <div class="sindex">
        <div class="info1">
            <div class= "info2">    
                <h3>３位　福岡天神</h3>
                <h4>西鉄福岡（天神）駅を中心に百貨店や専門店・ファッションビルなどの商業施設が集積した九州最大の繁華街であり、福岡市の都心、ビジネス街・中心業務地区である。メインストリートである渡辺通りの地下には天神地下街が広がり、渡辺通り沿いの各商業施設の地下フロアと地下鉄の駅を接続している。天神地区の西側に位置する大名エリアには有名アパレルブランド・セレクトショップ・古着屋・飲食店・美容院などの若者向けの路面店が集積しており、天神とともに一体的な繁華街を形成している。</h4>
            </div>
            <div class="simage3">
            </div>
        </div>

        <div class="info3-2">
            <div class="info4">
            スポット情報
            </div>
            
            <div class="info5">
                <div class="info6">
                    <br>住所</br>
                    <br>アクセス</br>
                    <br>電車料金</br>
                </div>
                <div class="info7">
                    <br>：福岡県福岡市中央区天神２−１００４</br>
                    <br>：博多駅から天神駅まで電車で６分</br>
                    <br>：片道２１０円</br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_top"><a href="#"></a></div>
