.edit {
  padding-top: 100px;
  height: 850px;
  background-color: #ddd;
  width: 100%;
}

.eedit {
  size: 70px;
  text-align: center;
  padding: 0px;               /* 余白指定 */
  top:  0;                     /* 位置指定 */
  bottom:  0;                  /* 位置指定 */
  left:  0;                    /* 位置指定 */
  right:  0;                   /* 位置指定 */
  margin:  auto;               /* 中央寄せ */
  width: auto;               /* 幅指定 */
  height: 80px;                /* 高さ指定 */
}

.eimage {
  size: 70px;
  text-align: center;
  padding: 0px;               /* 余白指定 */
  top:  0;                     /* 位置指定 */
  bottom:  0;                  /* 位置指定 */
  left:  0;                    /* 位置指定 */
  right:  0;                   /* 位置指定 */
  margin:  auto;               /* 中央寄せ */
  width: outo;               /* 幅指定 */
  height: 80px;                /* 高さ指定 */
}