.new {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
}

.prev-image{
  width: 400px;
}

// .link {
//   width: 1000px;
//   margin: 30px auto;
//   text-align: center;
// }

// .search {
//   width: 1000px;
//   margin: 30px auto;
//   text-align: center;
// }

// .post {
//   border-top: solid #00acee;
//   padding-left: 100px;
//   padding-right: 100px;
//   padding-top: 10px;
// }

